/*
 Project:    ITU - Rezervační kalendář
 University: Brno University of Technology, FIT
 Date:       29.11. 2021
 Author:  Marek Sechra <xsechr00@stud.fit.vutbr.cz> 
*/

.table{
	height: 12%;
	width: 30%;
	text-align: center;
	border: solid black 0.10em;
	border-radius: 1.5em;
}
.big_table{
	height: 15%;
	width: 60%;
	text-align: center;
	border: solid black 0.10em;
	border-radius: 1.5em;
}
.rounded_table{
	height: 25%;
	width: 25%;
	text-align: center;
	border: solid black 0.10em;
	border-radius: 5em;
}
.num{
	vertical-align: middle;
	line-height: 2em;
	font-size: 2.8em;
}	
.num_big{
	vertical-align: middle;
	line-height: 1.8em;
	font-size: 3em;
}
.num_rounded{
	vertical-align: middle;
	line-height: 1.6em;
	font-size: 3em;
}
.bar{
	border: solid black 0.10em;
	border-radius: 1.5em;
	height: 100% !important;	
	width: 40% !important;
	background-color: rgb(220,220,220);
	text-align: center;
}
.bar_name{
	vertical-align: middle;
	line-height: 18em;
	font-size: 2em;
}
.stool{
	border: solid black 0.10em;
	border-radius: 4.5em;
	width: 4.5em;
	height: 4em;
	text-align: center;
	/*background-color: rgb(255,228,196);*/
}
.num_stool{
	vertical-align: middle;
	line-height: 1.4em;
	font-size: 2.5em;

}
a:hover{
	text-decoration-style: none;
	text-decoration-line: none;
	color:rgb(0,0,0);
}
a{
	color:rgb(0,0,0);
	text-decoration-style: none;
	text-decoration-line: none;
}
.pignose-calendar{
	width: 100% !important;
}
.door{
	width: 6em;
	height: 1em;
	background-color: rgb(220,220,220);
	border: solid black 0.01em;
	border-radius: 0.2em;
}
#page_two{
	display: none;
}
#button_1, #button_2{
	width: 2em !important; 
	height: 2em !important;
	border: 2px;
	font-size: 3em;
}
#reservationTime{
	width: 45%	 !important;
}
#reservationTimeLabel{
	width: 10%	 !important;
	border: 1px solid;
	border-radius: 10px;
	margin-top: 5px;

}
#calendar{
	padding: 0 !important;
	margin:0 !important;
}
.tables{
	margin-right:5%; 
	margin-left:5%;
	padding-left:2%;
}
.time_reservation span{
	width: 100% !important;
}
.reservation span{
	display: inline-block;
	width: 100% !important;
}
.myresspan{
	display: inline !important;
	width: 75%;
}
#button_delete{
	height: 22px;
	margin-bottom: 11px;
	vertical-align: middle;
	line-height: 5px;
	font-size: 25px;
}
i{
	float: right !important;
	
}

.desk{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
#main{
	display: inline-block;
	height: 90% !important;
	background-color: rgb(252, 252, 252) !important;
	border-radius: 10px;
	border: 2px solid;
	border-color: rgb(0,0,0);
	padding-bottom: 100px;
}
html body{
	background-color: rgb(220,220,220) !important;
}
.timer{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	padding-left: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white !important;
}
.reservation-time, .reservation-val{
	display: inline-block;
	height: 7.1%;
	border-bottom: 1px solid;
	border-color:rgb(220,220,220);
	background-color: rgb(255,255,255) !important;
}
.reservation-time{
	text-align: center;
}
.time_reservation, .reservation{
	background-color: rgb(255,255,255) !important;
}
 .selected{
	border: 5px solid;
	border-color: slateblue;
}

.name_reservation{
	width: 75% !important;
}
.icons_reservation{
	float: right !important;
	width: 20% !important;
}
select option{
	height: 8% !important;
	border-bottom: 1px solid;
	border-color:rgb(220,220,220);
}
select{
	display: inline-block;
	border:0;
	
}
.keyboard{
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid;
	display: none;
}
.input-icons i {
	position: absolute;
	z-index: 1;
	margin-left: 19% ;
	margin-top: 1%;
	width: 5px;
}
.fake_button{
	padding: 0;
	margin: 0;
	border: 0;
	width: 0;
	height: 0;
}
